<!DOCTYPE html>
<html>
  <body>
    <h1>Posts</h1>
    <%= for {{headers, post}, index} <- Enum.with_index posts do %>
      <h3> <%= index %></h3>
      <p><%= "#{inspect headers}" %></p>
      <p><%= "#{inspect post}" %></p>
    <% end %>
  </body>
</html>
